<form action="/auth/login" method="post">
  <div class="flex justify-center">
    <div class="flex flex-col items-center [&>*]:mb-2">
      <h1>Login</h1>
      <input
        class="text-input"
        placeholder="Username"
        type="text"
        name="username"
        id="username"
      />
      <input
        class="text-input"
        placeholder="Password"
        type="password"
        name="password"
        id="password"
      />
      <p>
        <input type="checkbox" name="remember_me" id="remember_me" />
        Remember Me
      </p>
      <button class="button" type="submit">Submit</button>
    </div>
  </div>
</form>