<link rel="stylesheet" href="/css/markdown.css" />
<div class="flex justify-center w-full">
  <div class="markdown-container">
    <div class="markdown">
      {{{markdown}}}
    </div>
  </div>
</div>