<div class="text-content">
  <a class="link" href="/admin"><h1>Admin Panel</h1></a>

  <p>Editing
    <span class="font-bold">{{editor.name}}</span>
    from
    <span class="font-bold">{{modpack.name}}</span>.</p>
</div>

{{> editor}}

<script src="/js/api.js"></script>
<script src="/js/editor.js"></script>